<div class="container" style="max-width: 80%; margin-top: 50px; margin-left: -50px;">
  <div class="input-group md-form form-sm form-2 pl-0">
    <h6 style="margin-left: 400px;">Cliente: </h6>
    <input class="form-control my-0 py-1 red-border col-7" type="text" placeholder="Buscar" style="margin-left: 50px;" aria-label="Search">
  
    <div class="input-group-append">
    </div><br><br><br>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-4">
     
    </div>
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">cantidad</th>
            <th scope="col">producto</th>
            <th scope="col">precio</th>
            <th scope="col">importe</th>
            <th scope="coll" colspan="2">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{producto.IDPRODUCTO}}</td>
            <td>{{producto.NOMPROD}}</td>
            <td>{{producto.PRECIO}}</td>
            <td>{{producto.STOCK}}</td>
            <td>
              <a type="button" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
            <td>
              <a type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>